---
---

@import "{{ site.theme }}";

body {
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%
  
  header {
    float: none;
    margin:  0;
    width:  100%;
    position: static;
    display: block;
    padding: 20px 50px 20px 50px;
    box-sizing: border-box;
    
    ul {
      position: absolute;
      right: 130px;
      top: 84px;
    }
  }
  
  section {
    float: none;
    margin: 40px auto;
    width: 960px;
    box-sizing: border-box;
    
    @media print, screen and (max-width: 720px) {
      padding: 10px 20px 10px 20px;
    }
  }
}
