---
---

@import "{{ site.theme }}";


.wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  
  header {
    margin:  0;
    width:  100%;
    position: static;
    display: block;
    padding: 34px 25px 22px 50px;
    box-sizing: border-box;
  }
  
  section {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
}
