---
---

@import "{{ site.theme }}";

body {
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  
  header {
    margin:  0;
    width:  100%;
    position: static;
    display: block;
    padding: 20px 50px 20px 50px;
    box-sizing: border-box;
  }
  
  section {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
}
